.curseclient
.idea
.vscode
/.mixin.out
/backups
/config/*.bak
/config/worldedit
/config/forgeendertech/cached.dat
/config/forgeendertech/Biomes
/crash-reports
/data
/downloads
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
/easy_npc
/ESM
/fancymenu_data
/ftbteambases
/journeymap
/local
/logs
/mods
/modernfix
/moddata
/patchouli_books
/resourcepacks
/saves
/screenshots
/shaderpacks
command_history.txt
minecraftinstance.json
options.txt
servers.dat
TrashSlotSaveState.json
user-prefs.json
usercache.json
usernamecache.json